input {
  width: 75%;
}

.checkbox {
  padding: 0;
  margin-top: 0;
  margin-left: 25px;
}

.checkbox input {
  width: auto;
}

textarea {
  width: 88%;
  height: 200px;
}

.submit-button {
  width: 150px;
  margin: 15px 0 0 0;
  height: 30px;
}